@import url('http://fonts.cdnfonts.com/css/alphacentauri');

.main{
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: black;
    width: 100%;
    /* overflow-x: hidden; */
    flex-direction: column;
}

.sectionOne{
    height: 100vh;
}

.bg img {
    width: 100vw;
    height: 100vh;
    filter: brightness(0.6);
}

.rock1 {
    position: absolute !important;
    left: 10vw !important;
    top: 20vh !important;
}

.rock1 img {
    width: 50%;
    filter: brightness(0.7);
}

.text h1 {
    font-family: "AlphaCentauri" !important;
    font-size: 5vw;
    color: #fff;
    letter-spacing: 20px;
    position: absolute;
    top: 35vh;
    left: 34vw;
}

.earth img {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 40vw;
    top: 30vh;
    z-index: 1;
    filter: brightness(0.7);
}

.mid {
    left: -150px !important;
    bottom: -100px !important;
    top: unset !important;
}

.mid img {
    width: 100%;
    z-index: 2;
    left: -20px;
    top: 20vh !important;
    filter: brightness(0.8);
}

.fore {
    right: -50px !important;
    bottom: -200px !important;
    top: 0px !important;
    left: unset !important;
}

.fore img {
    width: 25vw;
    height: 100vh;
    z-index: 3;
    filter: brightness(0.5);
}


.sectionTwo{
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.planetDetails{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 80%;
}

.planetsContainer{
    display: flex;
    flex-direction: row;
}

.planetsImg{
    width: 20%;
}

.planetDescription{
    width: 70%;
    height: 50%;
    
}

.planetLinks{
    width: 75%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

.selected_planet{
    font-size: 1vmax;
    font-weight: 700;
    text-decoration: underline;
    opacity: 1;
}

.non_selected_planet{
    opacity: 0.5 !important;
}

.planet_number{
    font-family:  "AlphaCentauri";
    position: absolute;
    font-size: 6vmax;
    margin-top: 5vh;
    margin-left: 0.5vw;
    z-index: 9;
    opacity: 0.2;
}

.planet_name{
    font-size: 3vmax;
    font-family:  "AlphaCentauri";
    z-index: 10;
    margin-left: 5vw;
    margin-top: 7vh;
    margin-bottom: 8vh;
}

.planet_desc{
    font-size: 1vmax;
    margin-left: 5vw;
}