nav{
    position: absolute;
    z-index: 100;
    height: 8vh;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw;
    color: white;
}

.logo{
    font-weight: 600;
    font-size: 1.67vmax;
}


nav .nav-links ul{
    display: flex;
    flex-direction: row;
}

nav .nav-links ul li{
    padding: 0 0.5vmax;
    list-style: none;
}

nav .nav-links ul li img{
    transform: scale(0.45);
}